/*
#FFFFFF

#00171F

#003459

#007EA7

#00A8E8

#D90429

#02C39A
*/

html,
body,
.app {
  height: 100vh;
  color: #000;
  background: #bbccd3;
  padding: 1em;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

.noMargin {
  margin: 0;
}

.primaryLink {
  color: #0FACF3
}

.itemsGroupWrapper {
  background-color: #000;
}

.centered {
  display: flex;
  align-items: center;
}

Avatar {
  margin: 0;
}

.primaryLink:hover {
  color: #fff
}

.link {
  color: #fff;
  cursor: pointer;
  transition: 70ms ease-in-out;
}

.link:hover {
  color: #00A8E8
}


.clickable-icon {
  cursor: pointer;

}

.pointer {
  cursor: pointer;
}

svg {
  transition: .15s ease-in
}

.progress__bar {
  margin: .3em 0 0 0 !important;
}